/*h1 {
	font-weight: bold;
	color: tomato;
}*/

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	background-color: rgb(221,44,0)
}

#test {
	min-height: 200px;
	min-width: 200px;
}

.hang {
	color: rgb(40,53,147);
	border: solid 5px;
}

#homeAvatar {
	max-height: 75px;
	max-width: 50px;
}

.userInvited {
	color: tomato;
}

.settings {
	top: 5px;
}

.form {
	margin-top: 5%;
}

/*.container {
	width: 300px;
}*/

.md-buttonsmall {
	min-height: 20px;
  min-width: 50px;
  font-size: 7px;
}
